* {
    margin: 0;
    padding: 0;
}

.main {
    padding: 1rem;
}

body {
    min-height: 100dvh;
    min-width: 100dvw;
    background-color: darkslateblue;
    font-family: Satisfy, serif;
    color: white;
    position: relative;
}

h1 {
    margin: 0;
    padding: 1px;
}

.translucent-background {
    background-color:rgba(0,0,0,0.4);
    inset: 0;
    z-index: 1;
    position: absolute;
}

#main-div {
    transition: 0.5s;
}

/* .comic-template-main-div {
    background-color: darkslateblue;
    font-family: Satisfy, serif;
    color: white;
    align-self: center;
    padding: 5px;
    font-family: Satisfy, serif;
    font-size: xx-large;
    font-weight: lighter;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
} */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: darkslateblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: xx-large;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: brown;
}

.sidebar .close-button {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 15%;
    font-size:xx-large;
    margin-left: 50px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: x-large; 
    text-shadow: 9px 9px 9px black;

}

a {
    color: white;
}

.categories {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 10px;
    height: 40%;
    margin: 2rem;
}

.comics,
.movies,
.restaurants,
.countries {

    align-items: center;
    padding: 1rem;
    font-family: Satisfy, serif;
    font-weight: lighter;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 80%;
    height: 85%;
    margin: auto;
    transition: 0.3s ease;
}

.comics:hover,
.movies:hover,
.restaurants:hover,
.countries:hover {
    transform: scale(1.2);
}
.category-cover {
    aspect-ratio: 16/9;
    height: 85%;
}

.main-table {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(194px, 1fr));
    gap: 10px;
}

.books {

    align-self: center;
    padding: 5px;
    font-family: Satisfy, serif;
    font-weight: lighter;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 194px;
    height: 261px;

}

.book-cover {
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}

.books:hover .book-cover {
    transform: scale(1.2);
}

label {
    color: white;
    font-size: xx-large;
}



input, textarea, button {
    background-color: darkslateblue;
    font-family: Satisfy, serif;
    color: white;
    align-self: center;
    padding: 5px;
    font-family: Satisfy, serif;
    font-size: xx-large;
    font-weight: lighter;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    
}


.new-comic-form-input, .new-comic-form-textarea {
    background-color: darkslateblue;
    font-family: Satisfy, serif;
    color: white;
    align-self: center;
    padding: 5px;
    font-family: Satisfy, serif;
    font-size: x-large;
    font-weight: lighter;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}
.new-comic-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}
.book-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin: 1rem;
    padding: auto;
    gap: 10px;
    font-family: Satisfy, serif;
}

.book-info {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
}

.book-img {
    justify-content: space-between;
    margin: auto;
    padding: 1rem;
    width: 194px;
    height: 261px;
}

.status, .chapters, .type, .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 194px;
    height:50px;
    margin: auto;
}

.completed {
    color: greenyellow;
}

.synopsis {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1rem;
}

.comic-bar {
    display: flex;
    flex-direction: row;
    gap:70px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem;
}

.error-body {
    margin: auto;
    text-align: center;
    text-decoration: solid;
    font-weight: bolder;
    font-size: xx-large;
}

@media (max-width: 672px) {
    .heading {
        font-size: large;
    }
    .category-heading {
        font-size: larger;
    }
    .main-table {
        grid-template-columns: repeat(2, 1fr);
    }
    .books {
        margin: auto;
    }
    .book-page {
        flex-direction: column;
    }
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: large;
    }

}

@media (min-width: 672px) {
    body {
        .main-table {
            grid-template-columns: repeat(3, 1fr);
        }
        .books {
            margin: auto;
        }
        .book-page {
            flex-direction: column;
        }   
        .category-heading {
            font-size: larger;
        }
    }
}

@media (max-width: 750px) {
    .categories {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1024px) {
    body {
        .main-table {
            grid-template-columns: repeat(auto-fit, minmax(194px, 1fr));
            
        }
        .book-page {
            flex-direction: row;
        }
        .category-heading {
            font-size: xx-large;
        }
    }
}